@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-font/PoppinsRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+000-5FF; /* Ensures the browser maps it properly */
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-font/PoppinsMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-font/PoppinsSemibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-font/PoppinsBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+000-5FF;
}


@font-face {
  font-family: 'Optimus Princeps';
  src: url('/fonts/optimusprinceps/OptimusPrinceps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
